<launch>
	<remap from="/feature_matcher/input_image" to="/piece_parser/output_image" />
	<include file="$(find jps_feature_matching)/launch/feature_matcher.launch" />
	<param name="img_file_name" value="$(find jps_feature_matching)/dat/sample_pic.png" type="string" />
	<remap from="/test_feature_supplier/output_image" to="/piece_parser/output_image" />
	<node pkg="jps_feature_matching" type="test_feature_supplier" name="test_feature_supplier_node" />
</launch>
